 
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Hello reservation cloturées!
{% endblock %}

 
	 
	{% block page_content %}
     {{ include ("./admin/headerAdmins.html.twig") }} 
    {# <div class="enTete_cloture">

				<p>
					<a href={{ path('app_resClotures') }}>
						Reservations cloturées</a>
				</p>

		</div> #}
      
<div class="container_clotures">
     
{% for flashMessage in app.flashes('alert') %}
    {{ flashMessage|raw }}
{% endfor %}
 
 
      <div class="container_formulaire">
           {{ form_start(searchReservation) }}
            <ul>
             
            <li class="mail">
            {# <div class="labele">{{ form_label(searchReservation.email, 'Email') }}</div> #}
            <div>{{ form_widget(searchReservation.email, {'attr': {'class': 'champ_mail'}}) }}</div>
            </li>
            <li> <h3>OU</h3> </li>
           <li class="date"><div class="labele">{{ form_label(searchReservation.dateLocation, 'date de location') }} </div> <div>{{ form_widget(searchReservation.dateLocation, {'attr': {'class': 'champ_mail'}}) }}</div></li>
           <li class="date"><div class="labele">{{ form_label(searchReservation.dateRetour, 'date de retour') }} </div> <div>{{ form_widget(searchReservation.dateRetour, {'attr': {'class': 'champ_mail'}}) }}</div></li>

            <li class="mail"><p>{{ form_label(searchReservation.email, 'Email') }}</p>  {{ form_widget(searchReservation.email, {'attr': {'class': 'champ_mail'}}) }}</li>
            <li> <h3>OU</h3> </li>
           <li class="date"><p>{{ form_label(searchReservation.dateLocation, 'date de location') }} </p> {{ form_widget(searchReservation.dateLocation, {'attr': {'class': 'champ_mail'}}) }}</li>
           <li class="date"><p>{{ form_label(searchReservation.dateRetour, 'date de retour') }} </p>{{ form_widget(searchReservation.dateRetour, {'attr': {'class': 'champ_mail'}}) }}</li>
            <li><button type="submit" class="btn-res">Rechercher</button></li>
            </ul>
            {{ form_end(searchReservation) }}
       </div>    
  <main class="res_cloturees">
      <h3> LES RESERVATIONS CLOTURÉES</h3>
       <form action="{{ path('app_facture') }}" method="POST" target="_blank">
     <table class="table_cloturees">
       
        <tr class="titre_clotures">
        <td class="cloturees"> selectionner </td>
         <td class="cloturees"> N°: Reservation </td>
        <td class="cloturees"> Nom </td>
       <td class="cloturees"> prénom </td>
       <td class="cloturees"> email </td>
       <td class="cloturees"> Marque </td>
       <td class="cloturees"> Modele </td>
         <td class="cloturees"> date de location </td>
         <td class="cloturees"> date de retour </td>
           <td class="cloturees"> Total-TTC </td>
           <td class="cloturees"> FACTURE </td>
      
        </tr>
            
          {% for item in resCloturees %}
       {% if item.reserved.invoice is not null %}
        {# L'objet Invoice existe pour cette réservation #}
        {% set invoice = item.reserved.invoice %}
        {# Maintenant vous pouvez accéder aux propriétés de l'objet Invoice #}
            {% if invoice.facturePdf  %}
        
        <tr class="boucle_clotures">
           <td class="td_cloturees"> 
            
               <input type="checkbox" name="selectedItem" value="{{ item.reserved.id }}" class="selection-checkbox" />
                
            
            
           </td>

           <td class="td_cloturees">  {{ item.reserved.id }} </td>
           <td class="td_cloturees">  {{ item.reserved.users.firstname }} </td>
           <td class="td_cloturees">  {{ item.reserved.users.lastname }} </td>
           <td class="td_cloturees">  {{ item.reserved.users.email }} </td>
           <td class="td_cloturees">  {{ item.reserved.car.brand }} </td>
           <td class="td_cloturees">  {{ item.reserved.car.model }} </td>
           <td class="td_cloturees">  {{ item.dateRental|date('Y-m-d') }} </td>
           <td class="td_cloturees">  {{ item.returnDate|date('Y-m-d') }} </td>
            <td class="td_cloturees">  {{ item.reserved.totalPrice  }} € </td>

           
   
               <td class="td_factureOk" style="background-color:rgba(0,128,0,0.5)"> établie </td>
               {# {% else %}
         
               <td class="td_factureNonOk" style="background-color: red;"> non établie </td> #}
           




            
         </tr>
             {% else %}

<tr class="boucle_clotures" style="background-color: #FB335B;">
           <td class="td_cloturees"> 
            
               <input type="checkbox" name="selectedItem" value="{{ item.reserved.id }}" class="selection-checkbox" />
                
            
            
           </td>

           <td class="td_cloturees">  {{ item.reserved.id }} </td>
           <td class="td_cloturees">  {{ item.reserved.users.firstname }} </td>
           <td class="td_cloturees">  {{ item.reserved.users.lastname }} </td>
           <td class="td_cloturees">  {{ item.reserved.users.email }} </td>
           <td class="td_cloturees">  {{ item.reserved.car.brand }} </td>
           <td class="td_cloturees">  {{ item.reserved.car.model }} </td>
           <td class="td_cloturees">  {{ item.dateRental|date('Y-m-d') }} </td>
           <td class="td_cloturees">  {{ item.returnDate|date('Y-m-d') }} </td>
            <td class="td_cloturees">  {{ item.reserved.totalPrice  }} </td>
            <td class="td_factureNonOk"> non établie </td>

           

          {% endif %}
       
    {% endif %}   

       {% endfor %}

          <button type="submit" class="btn_facture" > ÉTABLIR UNE FACTURE</button>





      </table>
      </form>
       </main>
</div>



<script>// script pour selectionner une seul cases
    // Sélectionnez toutes les cases à cocher avec la classe 'selection-checkbox'
    const checkboxes = document.querySelectorAll('.selection-checkbox');

    // Ajoutez un écouteur d'événements 'click' à chaque case à cocher
    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('click', function() {
            // Désélectionnez toutes les autres cases à cocher
            checkboxes.forEach(cb => {
                if (cb !== this) {
                    cb.checked = false;
                }
            });
        });
    });
</script>
    {% endblock %}