 
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Hello reservation cloturées!{% endblock %}

{% block page_content %}
    {{ include ("./admin/headerAdmins.html.twig") }} 
      
    <div class="container_clotures">
        {% for flashMessage in app.flashes('alert') %}
            {{ flashMessage|raw }}
        {% endfor %}
 
        <div class="container_formulaire">
            {{ form_start(searchReservation) }}
            <ul>
                <li class="mail">
                    <div class="labele">{{ form_label(searchReservation.email, 'Email') }}</div>
                    <div>{{ form_widget(searchReservation.email, {'attr': {'class': 'champ_mail'}}) }}</div>
                </li>
                {# <li> <h3>OU</h3> </li> #}
                <li class="date">
                    <div class="labele">{{ form_label(searchReservation.dateLocation, 'date de location') }}</div>
                    <div>{{ form_widget(searchReservation.dateLocation, {'attr': {'class': 'champ_mail'}}) }}</div>
                </li>
                <li class="date">
                    <div class="labele">{{ form_label(searchReservation.dateRetour, 'date de retour') }}</div>
                    <div>{{ form_widget(searchReservation.dateRetour, {'attr': {'class': 'champ_mail'}}) }}</div>
                </li>
                <li><button type="submit" class="btn-res">Rechercher</button></li>
            </ul>
            {{ form_end(searchReservation) }}
        </div>    

        <main class="res_cloturees">
            <h3> LES RESERVATIONS CLOTURÉES</h3>
            <form action="{{ path('app_facture') }}" method="POST" target="_blank">
            <button type="submit" class="btn_facture"> ÉTABLIR UNE FACTURE</button>
                <table class="table_cloturees">
                    <tr class="titre_clotures">
                        <td class="cloturees"> selectionner </td>
                        <td class="cloturees"> N°: Reservation </td>
                        <td class="cloturees"> Nom </td>
                        <td class="cloturees"> prénom </td>
                        <td class="cloturees"> email </td>
                        <td class="cloturees"> Marque </td>
                        <td class="cloturees"> Modele </td>
                        <td class="cloturees"> date de location </td>
                        <td class="cloturees"> date de retour </td>
                        <td class="cloturees"> Total-TTC </td>
                        <td class="cloturees"> FACTURE </td>
                    </tr>
                    
                    {% for item in resCloturees %}
                        {% if item.reserved.invoice is not null %}
                            {% set invoice = item.reserved.invoice %}
                            {% if invoice.facturePdf  %}
                                <tr class="boucle_clotures">
                                    <td class="td_cloturees"> 
                                        <input type="checkbox" name="selectedItem" value="{{ item.reserved.id }}" class="selection-checkbox" />
                                    </td>
                                    <td class="td_cloturees">  {{ item.reserved.id }} </td>
                                    <td class="td_cloturees">  {{ item.reserved.users.firstname }} </td>
                                    <td class="td_cloturees">  {{ item.reserved.users.lastname }} </td>
                                    <td class="td_cloturees">  {{ item.reserved.users.email }} </td>
                                    <td class="td_cloturees">  {{ item.reserved.car.brand }} </td>
                                    <td class="td_cloturees">  {{ item.reserved.car.model }} </td>
                                    <td class="td_cloturees">  {{ item.dateRental|date('Y-m-d') }} </td>
                                    <td class="td_cloturees">  {{ item.returnDate|date('Y-m-d') }} </td>
                                    <td class="td_cloturees">  {{ item.reserved.totalPrice  }} € </td>
                                    <td class="td_factureOk" style="background-color:rgba(0,128,0,0.5)"> établie </td>
                                </tr>
                            {% else %}
                                <tr class="boucle_clotures" style="background-color: #FB335B;">
                                    <td class="td_cloturees"> 
                                        <input type="checkbox" name="selectedItem" value="{{ item.reserved.id }}" class="selection-checkbox" />
                                    </td>
                                    <td class="td_cloturees">  {{ item.reserved.id }} </td>
                                    <td class="td_cloturees">  {{ item.reserved.users.firstname }} </td>
                                    <td class="td_cloturees">  {{ item.reserved.users.lastname }} </td>
                                    <td class="td_cloturees">  {{ item.reserved.users.email }} </td>
                                    <td class="td_cloturees">  {{ item.reserved.car.brand }} </td>
                                    <td class="td_cloturees">  {{ item.reserved.car.model }} </td>
                                    <td class="td_cloturees">  {{ item.dateRental|date('Y-m-d') }} </td>
                                    <td class="td_cloturees">  {{ item.returnDate|date('Y-m-d') }} </td>
                                    <td class="td_cloturees">  {{ item.reserved.totalPrice  }} </td>
                                    <td class="td_factureNonOk"> non établie </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </table>
                
            </form>
        </main>
    </div>
    
    <script>
        // script pour sélectionner une seule case
        const checkboxes = document.querySelectorAll('.selection-checkbox');
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('click', function() {
                checkboxes.forEach(cb => {
                    if (cb !== this) {
                        cb.checked = false;
                    }
                });
            });
        });
    </script>
{% endblock %}