{% extends 'base.html.twig' %}

{% block title %}Hello AllcarsController!{% endblock %}
  
      {% block stylesheets %}
             <link rel="stylesheet" href= "{{ asset("./styles/headers.css") }}?v={{ date().timestamp }}" >
             <link rel="stylesheet" href="{{ asset("./styles/inviteContact.css") }}?v={{ date().timestamp }}">
              <link rel="stylesheet" href="{{ asset("./styles/footer.css") }}?v={{ date().timestamp }}">
             <link rel="stylesheet" href= "{{ asset("./styles/allcars.css") }}?v={{ date().timestamp }}" >
         {% endblock %}
        
         {% block javascripts %}
          <script src= {{ asset('./js/headers.js') }} defer></script>
          
       {% endblock %}


{% block body %}
    {{ include ("./_partials/header.html.twig") }}  

 {# {{ dump(allcars) }} #}

 
 <div id="carre">
  
   
   
    
    {{ form_start(search, {'attr': {'id': 'formulaire'}}) }}
    <div id="cherche">
      
    <div id="chercheMarque">{{ form_widget(search.marques,{'attr': {'class': 'marque'}}) }}</div>
     <div id="chercheCategorie">{{ form_widget(search.categories,{'attr': {'class': 'categorie'}} ) }}</div>
    
     </div>
    {{ form_end(search) }}
   
  
  <section id="container_items">
  {% for item in allcars %}
  <article class="items">
  
  <h2> <a href={{ path("onecar", {'id': item.id}) }}>{{ item.brand|upper }} | {{ item.model|upper }} | {{ item.category|upper }}</a></h2>
  
   
  <div class="pic"><a href={{ path("onecar", {'id': item.id}) }}><img src= "/IMAGES/{{ item.image.image1 }}" /></a></div>
     <div class="sous_image">
     <h1> A partir de : {{item.priceDay}} € / jour<h1>  
    <a href= {{ path("onecar", {'id': item.id}) }}  > <div class="lien">En savoir plus</div></a>
     <div>
    </article> 
  {% endfor %}
 </section>

 </div>
  {{ include("./_partials/inviteContact.html.twig") }} 
 {{ include("./_partials/footer.html.twig") }} 
 
  <script src= {{ asset('/js/allcars.js') }} defer></script>
   <script src= {{ asset('/js/headers.js') }} defer></script>
{% endblock %}